@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-exo-2);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
